<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Add</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <header id="header">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="header-title">
                <h1>Product Add</h1>
            </div>
            <!-- /.header-title -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /#header -->
    <main id="main">
        <section class="section">
            <div class="container d-flex justify-content-between align-items-center">
                <form id= "form" action="/compose" method="post">
                    <div class="item-box">
                        <div class="item-info">
                            <input type="text" name="sku" required>
                            <label>SKU</label>
                        </div>
                        <div class="item-info">
                            <input type="text" name="name" required>
                            <label>NAME</label>
                        </div>
                        <div class="item-info">
                            <input type="text" name="price" required>
                            <label>PRICE</label>
                        </div>
                        <div class="type-switcher d-flex justify-content-between align-items-center">
                            <label class="text-bold" for="switch">Type Switcher</label>
                            <select form="form" name="switch" id="switch">
                                <option>--Choose form type--</option>
                                <option value="DVD-disc">DVD-disc</option>
                                <option value="Book">Book</option>
                                <option value="Furniture">Furniture</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box-size">
                        <div class="item-info">
                            <input type="text" name="size">
                            <label>SIZE</label>
                            <p class="input-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="save">
                            <button type="submit" class="btn" name="saveSize">Save</button>
                        </div>
                    </div>
                    <div class="input-box-weight">
                        <div class="item-info">
                            <input type="text" name="weight">
                            <label>WEIGHT</label>
                            <p class="input-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="save">
                            <button type="submit" class="btn" name="saveWeight">Save</button>
                        </div>
                    </div>
                    <div class="input-box-whl">
                    <div class="item-info">
                        <input type="text" name="height">
                        <label>HEIGHT</label>
                    </div>
                    <div class="item-info">
                        <input type="text" name="width">
                        <label>WIDTH</label>
                    </div> 
                    <div class="item-info">
                        <input type="text" name="length">
                        <label>LENGTH</label>
                    </div>
                        <p class="input-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="save">
                            <button type="submit" class="btn" name="saveWhl" >Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.section -->
    </main>
    <!-- /#main -->
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/script1.js"></script>
</body>
</html>